* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {

    background: #dac8be;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width:950px;
    margin: 0 auto;
}

.header {
    background: #a08478;
    margin-bottom: 30px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}


.nav-link {
    padding: 0 15px;
    line-height: 50px;
    color: #493933;
    font-size: 18px;
    text-transform: uppercase;
}



.nav-link:hover {
    background-color: #201815;
    color: #a08478;
    transition: .3s;
}

.main-container{
    display: flex;
    justify-content: space-between;
}
 
.wrapper__about{
    
    background: #e9e8ec;
    max-height: 730px;
    max-width: 430px;
    border-radius: 0 50px 50px 0;
}

.section-my_foto{
   
    margin-bottom: 20px;
    padding: 0 50px;
    
}
.section-title{
    font-size: 30px;
    color: #504446;
}

.title-name{
    padding-top: 20px;
    width: 155px;
    margin-bottom: 15px;
}

.contacts{
    margin: 0 auto;
}
.my__foto{
    width: 330px;
    border-radius: 8px;
}

.contacts-list{
    margin-bottom: 40px;
}
.contact-item{
    display: flex;
    margin-bottom: 10px;
}

.item-title{
    font-size: 15px;
    color: #2d1f18;
    font-weight: bold;
}

.item-title__contacts{
    width: 80px;
}

.item-text{
    font-size: 16px;
    color: #2d1f18;
    text-align: justify;
}

.item-text__contacts{
    padding-left: 20px;
}

.contact-link{
    color: #2d1f18
}

.contact-link:hover {
    background-color: #201815;
    color: #e9e8ec;
    transition: .3s;
}

.summary{
    max-width: 700px;
    max-height: 344px;
    background-color: #e9e8ec;
    border-radius: 50px 0 0 50px;
    padding: 50px 30px;
    margin-left: 80px;
    margin-top: 100px;
}

.summary-title{
    margin: 0 auto 20px;
    width: 280px;
}


