* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {

    background: #dac8be;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #a08478;
    margin-bottom: 30px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}


.nav-link {
    padding: 0 15px;
    line-height: 50px;
    color: #493933;
    font-size: 18px;
    text-transform: uppercase;

}



.nav-link:hover {
    background-color: #201815;
    color: #a08478;
    transition: .3s;
}

.wrapper__about{
    
    background: #e9e8ec;
    max-height: 730px;
    max-width: 410px;
    border-radius: 0 50px 50px 0;
}

.section-my_foto{
    margin: auto auto;
    margin-bottom: 20px;
    padding-left: 40px;
    
}
.section-title{
    padding-top: 20px;
    color: #504446;
    width: 155px;
    font-size: 30px;
    margin-bottom: 15px;

}

.contacts{
    margin: 0 auto;
}
.my__foto{
    width: 330px;
    border-radius: 8px;
}

.contacts-list{
    font-size: 15px;
    color: #2d1f18;

}
.contact-item{
    display: flex;
    
}

.item-title{
    width: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-text{
    padding-left: 20px;
    padding-bottom: 20px;
}

.contact-link{
    color: #2d1f18
}

.contact-link:hover {
    background-color: #201815;
    color: #e9e8ec;
    transition: .3s;
}